.popup-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.popup-des {
  padding: 0px 20px;
  color: #6f6f6f;
}

.popup-title {
  width: 50px;
  height: 50px;
  background-color: #027d00;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  align-self: center;
}

.popup-status {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  align-self: center;
  background-color: #25541e;
  padding: 0px 5px;
  border-radius: 5px;
}

.popup-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.popup-title {
  width: 50px;
  height: 50px;
  background-color: #027d00;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-name {
  margin: 10px !important;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  align-self: center;
}

.popup-status {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  align-self: center;
  background-color: #25541e;
  padding: 0px 5px;
  border-radius: 5px;
}

.popup-des {
  padding: 0 20px 10px;
}

.info-section {
  width: 48%;
  padding: 10px;
}

.info-section-documents {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
  justify-content: space-between;
}

.popUp-info-title,
.info-title {
  display: flex;
  align-items: center;
  font-size: 18px !important;
  margin-bottom: 10px;
  color: black;
  font-weight: bold !important;
}

.popUp-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #333;
  line-height: 1.6;
  margin-top: 20px !important;
}

.popUp-info-documents {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-actions {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
}

button.popup-button-reject {
  background-color: #ffffff;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  color: #c50422;
  text-transform: none;
  font-weight: bold;
}

button.popup-button-reject:hover {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  cursor: pointer;
}

button.popup-button-approve {
  background-color: #017b02;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  color: white;
  text-transform: none;
  font-weight: bold;
}

button.popup-button-approve:hover {
  background-color: #025f02;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
