.navbar {
  transition: width 0.3s;
  overflow: hidden !important;
  white-space: nowrap;
}

.navbar-paper {
  border-right: none;
  top: 64px; /* nếu có header */
  height: calc(100% - 64px);
  overflow: hidden !important;
}

.navbar-open {
  width: 250px !important;
}

.navbar-closed {
  width: 70px !important;
}

.navbar-content {
  line-height: 38px !important;
  padding: 10px !important;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo-image {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navbar-logo-text {
  font-size: 16px;
  font-weight: 600;
  color: #006c1d;
}

.navbar-item {
  margin-top: 20px;
}

.navbar-item:hover {
  border-radius: 10px;
  background: #e7f3e7 !important;
  font-weight: bold;
  cursor: pointer;
}

.navbar-item .MuiListItemText-primary {
  font-weight: 400;
  transition: font-weight 0.2s ease-in-out;
}

.navbar-item:hover .MuiListItemText-primary {
  font-weight: 600; /* bold */
}

.navbar-item.active {
  border-radius: 10px;
  background: #007c00;
  color: white;
}

.navbar-item.active:hover {
  border-radius: 10px;
  background: #007c00 !important;
  color: white;
  cursor: pointer;
}

.navbar-item.active:hover .MuiListItemText-primary {
  font-weight: 100 !important;
}

.navbar-item.active .navbar-icon {
  color: white !important;
}

.navbar-icon {
  text-align: center;
  font-size: 22px;
}
