.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  opacity: 2;
}

.headerTitles {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(248, 250, 252, 0.7);
  padding: 20px 20px;
}

.header-logo {
  font-size: 2rem;
  color: #006c1e;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo-image {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header-nav a {
  color: #374151;
  margin-left: 80px;
  text-decoration: none;
  font-size: 20px !important;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.header-nav a:hover {
  color: #006c1e;
  text-decoration: none;
}

.cta button {

  color: black;



  cursor: pointer;
  font-size: 1rem;
}

.cta button:hover {
  color: #006c1e;
}

